@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, html {
  transition: .5s ease;
  scroll-behavior: smooth;
}

.no-gutters {
  padding: 0;
  margin: 0;
}

.icon-btn {
  background: transparent;
  outline: none !important;
  -moz-outline: none !important;
  -webkit-outline: none !important;
  box-shadow: none !important;
  padding: 0px !important;
  font-size: 18px !important;
}

.icon-btn:focus, .icon-btn:active {
  outline: none !important;
  -moz-outline: none !important;
  -webkit-outline: none !important;
  box-shadow: none !important;
}

.action-cell {
  opacity: 0;
  transition: .5s ease;
}
.data-row:hover  .action-cell {
  opacity: 1;
}
